$viewport-width: 1440;
$viewport-height: 1024;

$base-font-family: 'BradfordLLWeb-Regular';
$base-font-size: 15px;
$base-line-height: 1.1;
$em-base: 10px;
$z-top: 100;

$offset-top: 20;
$offset-left: 30;
