
@font-face {
  font-family: "BradfordLLWeb-Regular";
  src: url('/fonts/BradfordLLWeb-Regular.woff2') format('woff2'),
       url('/fonts/BradfordLLWeb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNow";
  src: url('/fonts/HelveticaNowText-Bold.woff2') format('woff2'),
       url('/fonts/HelveticaNowText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

