@import "variables";
@import "mixins";
@import "fonts";
@import "node_modules/normalize.scss/normalize.scss";

* {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-content-zooming: none; /* Disables zooming */
	-ms-overflow-style: -ms-autohiding-scrollbar;
	font-size: $em-base;

	$tablet-size: 10px / $viewport-width * strip-units($mq-tablet);

	@include above-desktop {
		font-size: rvw($em-base);
	}

	@include tablet {
		font-size: rvw(10px, 1000);
	}

	@include mobile {
		font-size: rvw(10px, 750);
	}
}

html,
body {
	height: auto;
	width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $c_dark;
	background: $c_light;
	font-family: $base-font-family, serif;
	position: relative;
	-webkit-tap-highlight-color:  rgba(0, 0, 0, 0);

	@include mobile {
		font-size: 16px;
		line-height: 1.35;
	}

	@include above-tablet {
		font-size: rem($base-font-size);
	}

	@include above-huge {
		font-size: 18px;
	}
}

body,
input,
select,
button,
textarea {
	@include textantialiasing;
}

object {
	outline: none !important;
	border: 0 !important;
	opacity: 0;
}

::selection {
	background: $c-green;
	color: $c-light;
}

::-moz-selection {
	background: $c-green;
	color: $c-light;
}

@import "typography";
